<div class="chat-wrapper" [class.dark]="darkMode">
  <header>
    <div class="logo-wrapper">
      <img [src]="darkMode ? 'assets/ngcortex-logo-white.png' : 'assets/ngcortex-logo-dark.png'" alt="NgCortex Logo"
        class="logo" />
    </div>

    <button class="toggle" (click)="toggleTheme()">
      {{ darkMode ? '🌞 Claro' : '🌙 Escuro' }}
    </button>
  </header>

  <section class="intro">
    <p>
      O <strong>NgCortex</strong> é um assistente IA que que ajuda a solucionar diversas dúvidas.
    </p>
  </section>

  <section class="chat">
    <textarea [(ngModel)]="inputRole" rows="2"
      placeholder="Digite o comportamento do assistente. Ex: Atue como um renomado mestre de RPG de mesa..."></textarea>
    <textarea [(ngModel)]="input" rows="5" placeholder="Digite sua pergunta..."></textarea>

    <button class="send" (click)="send()" [disabled]="llm.loading()">
      {{ llm.loading() ? 'Processando...' : 'Enviar' }}
    </button>

    <div class="typing" *ngIf="llm.loading()">
      <span>Assistente está digitando</span>
      <span class="dots"> <span>.</span><span>.</span><span>.</span> </span>
    </div>

    <div class="output" *ngIf="output()">
      <h3>Resposta:</h3>
      <pre>{{ output() }}</pre>
    </div>
  </section>

  <footer>
    <p>&#64;Copyright Cheyenne Cattani | Adaptado por Igor Barbosa</p>

  </footer>
</div>
